#O1  {
    text-align: center;
    color: #ffffff;
}
body {
    background-color: #000000;
}
.tarjeta {
  width: 320px;
  background-color: #989898;
  color: white;
  text-align: center;
  padding: 200px;
  border-radius: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
img {
    width:400px;
    height: 400px; 
     box-sizing: border-box;
}
.contenedor {
    text-align: center;
}
#O2 {
    font-size: large;
    text-align: center;
    color: #ffffff;
}
#O3 {
    font-size: large;
    text-align: center;
    color: #ffffff;
}
#O4 {
    font-size: large;
    text-align: center;
    color: #ffffff;
}
