#O1  {
    text-align: center;
    color: #ffffff;
}
body {
    background-color: #000000;
}
img {
    width:400px;
    height: 400px; ;
}
.contenedor {
    text-align: center;
}
#O2 {
    font-size: large;
    text-align: center;
    color: #ffffff;
}
#O3 {
    font-size: large;
    text-align: center;
    color: #ffffff;
}
#O4 {
    font-size: large;
    text-align: center;
    color: #ffffff;
}
